.App {
  max-width: 1500px;
  margin: 0 auto;
  padding: 70px 0;
  min-height: 100vh;
  text-align: center;
  background-color: #333;
  box-shadow: 2px 1px 62px 13px rgba(34, 60, 80, 0.25);
}

.todo-list-header {
  font-size: 40px;
  color: white;
}

.todo {
  min-height: 100px;
  min-width: 700px;
}

button:active {
  background-color: rgb(57, 143, 83);
}

.task-input {
  min-width: 350px;
  padding: 12px 15px;
  border: 1px solid white;
  border-radius: 5px 0px 0px 5px;
}

.task-form {
  margin-bottom: 15px;
}

.form-button {
  color: aliceblue;
  background-color: rgb(28, 82, 44);
  padding: 11px 8px;
  border-radius: 0px 5px 5px 0px;
}

.form-button:hover {
  transition: all .2s;
  background-color: rgb(40, 122, 64);
}

.todo {
  display: flex;
  flex-grow: 1;
  word-break: break-all;
  min-width: 650px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  min-height: 65px;
  border-radius: 4px 4px 4px 4px;
  background-color: #555;
  color: #e8e8e8;
}

.icon-done {
  display: flex;
  width: 30px;
  height: 30px;
  color: black;
  transition: all .5s;
}

.icon-done {
  transition: all .5s;
}

.icon-done:hover {
  transform: scale(1.4);
  color: rgb(37, 112, 22);
  cursor: pointer;
}

.todo-complete {
  display: flex;
  flex-grow: 1;
  word-break: break-all;
  min-width: 650px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  min-height: 65px;
  border-radius: 4px 4px 4px 4px;
  background-color: black;
  text-decoration: line-through;
}

.not-add {
  font-size: 30px;
  margin-top: 50px;
}

.icons {
  display: flex;
  padding-left: 10px;
  background-color: red;
  width: 45px;
  height: 65px;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}

.todo-container {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.icon-edit {
  margin-right: 10px;
  transition: all .4s;
}

.icon-edit:hover {
  transform: scale(1.4);
  color: rgb(0, 145, 255);
  cursor: pointer;
}

.icon-close:hover {
  transform: scale(1.4);
  color: rgb(143, 47, 47);
  cursor: pointer;
}

.icon-close {
  width: 22px;
  height: 22px;
  transition: all .4s;
}

.todo:hover {
  transition: all .2s;
  background-color: rgb(47, 39, 39);
}

.sort-button {
  margin-bottom: 5px;
  color: aliceblue;
  background-color: rgb(28, 82, 44);
  padding: 11px 8px;
  border-radius: 5px 5px 5px 5px;
}

.sort-button:hover {
  transition: all .2s;
  background-color: rgb(40, 122, 64);
}

.sort-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  margin-bottom: 15px;  
}

.conteiner-sort-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 11px 8px;
  color: white;
  background-color: rgb(28, 82, 44);
}

.sort-button:not(:last-child) {
  margin-right: 10px;
}

.arrow-up {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.arrow-up-active {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: greenyellow;
}


.arrow-left {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}

.arrow-left:hover,
.arrow-right:hover {
  color: greenyellow;
}

.arrow-right {
  width: 40px;
  height: 40px;
}



.arrow-down-active {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: red;
}
.arrow-up:hover {
  transition: all 0.5s;
  color: greenyellow;
}

.text-sort {
  display: block;
  margin-right: 5px;
}

.arrow-down {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.arrow-down:hover {
  transition: all 0.5s;
  color: red;
}


.todo-text {
  display: inline;
  padding-right: 15px;
  padding-left: 10px;
}

.left-container {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
}

.page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  border-radius: 5px;
  background-color: rgb(40, 122, 64);
  cursor: pointer;
}

.page-link {
  padding: 10px 15px;
}

.todo-date {
  padding-right: 5px;
  word-break: keep-all;
}

.sort-button-active {
  margin-bottom: 5px;
  color: aliceblue;
  background-color: rgb(61, 164, 92);
  padding: 11px 8px;
  border-radius: 5px 5px 5px 5px;
  margin-right: 10px;
}

.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 65px;
  border-radius: 5px 0px 0px 5px;
  background-color: greenyellow;
}

@media (min-width: 320px) and (max-width: 502px) {

  .form-button {
    border-radius: 0 0 5px 5px;
  }

  .sort-button-container {
    display: flex;
    flex-direction: column;
    column-count: 1;
    column-gap: 5px;
  }

  .buttons {
    margin-bottom: 10px;
  }

  .conteiner-sort-arrows {
    background-color: rgb(28, 82, 44);
    margin-bottom: 15px;
  }

  .todo-container {
    margin: 0 auto;
    max-width: 390px;
  }

  .todo {
    min-width: 100px;
    max-width: none;
    width: 360px;
  }

  .todo-complete {
    min-width: 100px;
    max-width: none;
    width: 360px;
  }

 }