.todo-list-header {
  font-size: 40px;
}

.task-input {
  min-width: 350px;
  padding: 12px 15px;
  border: 1px solid white;
  border-radius: 5px 0px 0px 5px;
}

.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-button {
  color: aliceblue;
  background-color: rgb(28, 82, 44);
  padding: 11px 8px;
  border-radius: 0px 5px 5px 0px;
}

.form-button:hover {
  transition: all .2s;
  background-color: rgb(40, 122, 64);
}

.todo-complete {
  background-color: grey;
}

.complete-icon:hover {
  width: 30px;
  height: 30px;
  transition: all .5s;
}

.delete-icon:hover {
  width: 25px;
  height: 25px;
  transition: all .5s;
}

.todo {
  display: flex;
  flex-grow: 1;
  word-break: break-all;
  min-width: 650px;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
  border-radius: 4px 4px 4px 4px;
  color: #e8e8e8;
}

.icon-done {
  display: flex;
  width: 30px;
  height: 30px;
  color: black;
  transition: all .5s;
}

.icon-done {
  transition: all .5s;
}

.icon-done:hover {
  transform: scale(1.4);
  color: rgb(37, 112, 22);
  cursor: pointer;
}

.not-add {
  font-size: 30px;
  margin-top: 50px;
}

.icons {
  display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65px;
    min-width: 45px;
    flex: 1 1 auto;
    align-self: stretch;
    border-radius: 0px 5px 5px 0px;
    background-color: red;
}

.loading {
  position: fixed;
  z-index: 100312321;
}


.icon-edit {
  margin-right: 10px;
  transition: all .4s;
}

.icon-edit:hover {
  transform: scale(1.4);
  color: rgb(0, 145, 255);
  cursor: pointer;
}

.icon-close:hover {
  transform: scale(1.4);
  color: rgb(143, 47, 47);
  cursor: pointer;
}

.icon-close {
  width: 22px;
  height: 22px;
  transition: all .4s;
}

.todo:hover {
  transition: all .2s;
  background-color: rgb(47, 39, 39);
}

.sort-button {
  margin-bottom: 5px;
  color: aliceblue;
  background-color: rgb(28, 82, 44);
  padding: 11px 8px;
  border-radius: 5px 5px 5px 5px;
}

.sort-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  margin-bottom: 15px;  
}

.sort-button:not(:last-child) {
  margin-right: 10px;
}

.arrow-up {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.arrow-up-active path {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  fill: greenyellow;
}

.task-input-edit {
  min-width: 350px;
  padding: 12px 15px;
  border: 1px solid white;
  border-radius: 5px 5px 5px 5px;
  margin-left: 10px;
}

.arrow-left {
  width: 40px;
  height: 40px;
}

.arrow-right {
  width: 40px;
  height: 40px;
}



.arrow-down-active path {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: red;
}
.arrow-up:hover {
  transition: all 0.5s;
  color: greenyellow;
}

.text-sort {
  display: block;
  margin-right: 5px;
}

.arrow-down {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.arrow-down:hover {
  transition: all 0.5s;
  color: red;
}


.todo-text {
  display: inline;
  padding-right: 15px;
  padding-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 100%;
  max-width: 550px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.modal-header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #dbdbdb;
  justify-content: flex-end;
}

.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 70px 0;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(245, 242, 242);
    box-shadow: 2px 1px 62px 13px rgba(34, 60, 80, 0.25);
}

.modal-body {
  overflow: auto;
}

.modal-content {
  padding: 1rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

.arrow-none {
  display: none;
}

.page-item-active {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  border-radius: 5px;
  background-color: rgb(80, 188, 112);
  cursor: pointer;
}

.left-container {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-self: stretch;
  align-items: center;
}

.container-sort-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 11px 8px;
  color: white;
  max-height: 40px;
  background-color: rgb(28, 82, 44)
}

.button-to-left {
  margin-right: 15px;
}

.pagination {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
}

.pagination-none {
  display: none;
} 

.page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  border-radius: 5px;
  background-color: rgb(40, 122, 64);
  cursor: pointer;
}

.page-link {
  padding: 10px 15px;
}

.todo-date {
  padding-right: 5px;
  word-break: keep-all;
}

.sort-button-active {
  margin-bottom: 5px;
  color: aliceblue;
  background-color: rgb(61, 164, 92);
  padding: 11px 8px;
  border-radius: 5px 5px 5px 5px;
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 502px) {

  .form-button {
    border-radius: 0 0 5px 5px;
  }

  .sort-button-container {
    display: flex;
    flex-direction: column;
    column-count: 1;
    column-gap: 5px;
  }

  .buttons {
    margin-bottom: 10px;
  }

  .todo-container {
    margin: 0 auto;
    max-width: 390px;
  }

  .todo {
    min-width: 100px;
    max-width: none;
    width: 360px;
  }

 }

 @media (min-width: 503px) and (max-width: 652px) {
  .todo {
    min-width: 100px;
    max-width: none;
    width: 460px;
  }

  .pagination {
    display: flex;
    flex: 1 1 25%;
  }

 }